body {
  background-color: white;
  font-family: "Open Sans", times new roman;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: black;
}

h1{
  font-size: 36px
}

h2{
  font-size: 30px
}

h3{
  font-size: 23px
}

h1, h2, h3{
  border: 3px solid;
  border-radius: 20px;
  background-color: #878787;
  font-family: "Merriweather", serif;
  text-align: center;
}

p {
  text-align: justify;
  font-size: 16px;
}

img{
  border:4px outset #7d7d7d ;
}
